@font-face {
    font-family: Solomon;
    src: url("fonts/solomon_sans_semibold.woff2");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Solomon';
}

h1 {
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 6px;
    margin: 18px 0px 8px 0px;
}

ul {
    display: inline-block;
}

li {
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 14px;
}

.li__margin {
    margin-right: 5px;
}

hr {
    height: 5px;
    background: white;
    border: none;
}

.container {
    background: #6449b0;
    padding: 20px 20px 30px 20px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.cinema_status {
    display: inline-block;
}

.uni {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 2px;
}

.booked {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2px;
}

.selected {
    background-color: white;
}

.available {
    background: transparent;
    border: 1px solid #b2a4d8;
}

.title {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
}

.cinema_status {
    justify-content: space-around;
}

.space {
    margin: 0 20px 0 14px;
}